<h3>hello world🌈</h3>
<h4>Registered resource retrieval functions:</h4>
{% if registered_resource_retrievals %}
    <ul>
    {% for name, description in registered_resource_retrievals %}
        <li><code>{{ name }}</code>: {{description}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No registered resource retrievals functions.</p>
{% endif %}

<h4>Registered resource governance processes:</h4>
{% if registered_governance_processes %}
    <ul>
    {% for name in registered_governance_processes %}
        <li><code>{{ name }}</code></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No registered governance processes.</p>
{% endif %}